*{
    width: 98%;
    overflow-x: hidden;
    
}
.container{
    overflow-x: hidden;
    width: 80%;
    color: white;
    padding-left: 10%;
}
body{
    background-color: rgba(9, 7, 36, 1);
    margin-top: 20%;
    overflow-x: none;
    padding-left: 50px;
    top: 0;
    left: 0;
    right: 0;
}
nav{
    margin-right:0;
  background-color: black;
  padding:45px;
  padding-bottom: 30px;
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index:1;
  background-image:url("https://lh3.googleusercontent.com/isHqUOsF4W8mb9r8avCKK1dt0Ue8OvpdeDJJiONRg0TCChooPJtrqaPdRwuYgglJZntsTQ=s110");
  background-size:contain;
  background-repeat:no-repeat;
  overflow: visible;
  display: inline;
}
nav>ul{
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    overflow: visible;
}
nav>ul>li{
    display: inline;
    overflow: visible;
    padding: 30px;
}
nav>ul>li>a{
    text-transform:uppercase;
    text-decoration:none;
    color: white;
    padding:10px;
}
nav>ul>li>a:hover{
    color: rgb(19, 19, 24);
    background-color: gold;
    box-shadow: 2px 2px 5px gold;
}
.icon-bar {
    position: fixed;
    width: 5%;
    top: 7%;
    left: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
}
.icon-bar a {
    display: inline;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .icon-bar a:hover{
    color: deeppink;
}
.facebook {
    color: white;
  }
  
  .twitter {
    color: white;
  }
  
  .google {
    color: white;
  }
  
  .instagram {
    color: white;
  }
  
  .youtube {  
      color: white;
  }
.contacts{
    background-color: black;
    color: white;
    position: relative;
}

.footer{
    width: 110%;
    margin-left: -3%;
    right: 0;
    overflow: hidden;
    background-color: black;
}
footer{
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    color: bisque;
}
.languages{
    overflow: hidden;
    padding: 30px;
}
.languages>ul>li{
    display: inline;
    padding: 35px;
    color: rgb(202, 72, 50);
    overflow: hidden;
    padding: 30px;
}
.languages>ul{
    display: inline;
    overflow: hidden;
    padding: 30px;
}
.languages>ul>li:hover{
    color : goldenrod;
    background-color: white;
}
.table{
    border: 2px solid white;
    padding: 5px;
    overflow: hidden;
    width: 20%;
    margin-left: 4%;
}
tr {
    justify-content: space-between;
    padding: 5px;
}
td{
    justify-content: space-between;
    padding: 5px;
}
.table tr th:first-child{
    text-align: left;
}
th{
    margin-left: 0;
    text-decoration: underline;
    padding-right: 0;
    padding: 5px;
}
.film{
    font-size: 40px;
    color: gold;
    font-family: 'Yeon Sung', cursive;
}
.learn{
    color: red;
    background-color: antiquewhite;
}
.learn:hover{
    color: green;
    background-color: chartreuse;
}
.oops{
    position: relative;
    left: 10px;
    top: 30px;
    padding-bottom: 100px;
}
#events{
    color: red;
    font-size: 40px;
    width: 150%;
}
.upcoming{
    left: 10px;
}
#upcoming{
    color: yellowgreen;
    background-color: black;
}
#upcoming:hover{
    background-color: antiquewhite;
    color: black;
}
p{
    font-size: 33px;
    position: relative;
    left: 250px;
    padding-bottom: 50px;
}
@media screen and (max-width:1024px){
    body{
        width:90%;
        padding-left: 20px;
        margin-top: 33%;
    } 
    .container{
        width: 90%;
    }
    h1{
        left: 10%;
    }
}